body {
    display:flex;
    flex-direction: column;
    font-family: Roboto, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

h6, h2, a, ul, li, p, div{
    margin: 0;
    padding: 0;
}

a {
   text-decoration: none; 
}


.presentation{
    display: flex;
    justify-content: space-around;

    max-height: fit-content;
    
    div.items{
        flex-direction: column;
        flex: 1;
        max-width: 30%;
    }

    img{
        flex: 1;
        background-color: #a9abb1;
        color: #F9FAF8;
        text-align: center;
        align-content: center;
        max-width: 30%;      
    }
}

header{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

header, footer, .presentation, .action{
    *{
        font-size: 18px;
        color: #E5E7EB;
    }
}

header, footer, .presentation{
    background-color: #1F2937;

    h2{
        color: #F9FAF8;
        font-weight: 900;
        font-size: 48px;
    }
}

header, footer{
    flex-shrink: 0;
}

.container{
    flex: 1;
}

.items{
    display:flex;
    list-style: none;
    gap: 12px;

    .information & {
        gap: 18px;
        margin: 10px auto;
    }
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.container{
    display: flex;
    flex-direction: column;
}

div div {
    padding: 24px;
}

button, .action{
    background-color: #3882F6;
}

button{
    width: fit-content;
    padding: 4px 12px;
    border-radius: 12px;
    border-style: solid;
    flex: none;
    border-color: #F9FAF8;

    .items & {
        border-color: #1F2937;
    }
}

.quote{
    background-color: #E5E7EB;
    flex: auto;

    font-size: 36px;
    color: #1F2937;

    p{
        font-weight: 900;
        text-align: end;
    }

    blockquote {
        font-style: italic;
        font-weight: 100;
    }
}

.information{
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 36px;
        color: #1F2937;
        font-weight: 900;
    }

    li{
        flex-shrink: 0;

        img{
            border: #3882F6 solid 2px;
            border-radius: 10px;
            padding: 50px 75px;
            display: inline-block;
        }

        p{
            margin-inline: auto;
            text-align: center;
            max-width: 150px;
        }
    }
    
}

.action{
    margin: 10px 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

footer{
    text-align: center;
}
